@tailwind base;
@tailwind components;
@tailwind utilities;

.otp-container {
  @apply !flex !justify-between !gap-2;
}

.otp-container input {
  @apply !mr-0 flex-1 py-4 outline-none border border-base-300 rounded-xl;
}

.phone-container {
  @apply w-full bg-neutral  mt-2 px-3 py-2 border-2  border-base-300 rounded-3xl;
}

.phone-container input {
  @apply w-full !bg-transparent !border-0 !outline-none;
}
.react-international-phone-country-selector-button {
  @apply !border-0 !outline-none !bg-transparent;
}

.react-datepicker {
  @apply !z-[1000] hidden !bg-base-100 p-2;
}

.react-datepicker__month-wrapper {
  @apply !flex-wrap  gap-3 items-center justify-center cursor-pointer hidden;
}

/* For Chrome, Safari, Edge, Opera */
input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* For Firefox */
input[type="number"] {
  -moz-appearance: textfield;
}

.active-class {
  background-color: black; /* or any indicator of active state */
  color: white;
}
